<configuration>

    <!-- Console appender configuration -->
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <!-- Pattern format for logs -->
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <!-- Set the default log level to DEBUG -->
    <root level="DEBUG">
        <appender-ref ref="STDOUT" />
    </root>

    <!-- Fine-tune the log level for specific packages -->
    <logger name="io.netty" level="DEBUG" />
    <logger name="io.jyberion.mmorpg" level="DEBUG" />

</configuration>
